body, html {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: #aaa;
}

.layout-header {
  height: 60px;
  background: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  .layout-header-inner {
    padding: 18px 20px;
  }
} 

.sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  background: red;
  top: 0;
  right: 0; 
  padding-top: 60px;
  z-index: 2;
  @include box-sizing(border-box);

  .sidebar-inner {
    padding: 20px;
  }
}

.layout-map {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 0;
  top: 60px;
  bottom: 0;
}

.is-hidden  {
  display: none;
}