body, html {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: #ddd;
}

.layout-header {
  height: 60px;
  background: #464646;
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
  opacity: 0;
  z-index: 3;

  .layout-header-inner {
    padding: 0 6px;
  }

  .mod-brand {
    display: inline-block;

    img {
      padding-top: 2px;
    }    
  }

  &.transition-enter {
    top: 0;
    left: 0;
    opacity: 1;
  }

  .mod-categories {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    li {
      float:left;
    }
  }
}

.layout-sidebar {
  position: absolute;
  width: 20%;
  bottom: 0;
  top: 60px;
  right: -20%;
  opacity: 0;
  background: white;
  z-index: 2;
  @include box-sizing(border-box);

  .sidebar-inner {
    padding: 20px;
  }

  &.transition-enter {
    top: 60px;
    right: 0;
    opacity: 1;
  }
}

.layout-map {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 0;
  top: 60px;
  bottom: 0;
}

.layout-sidebar, .layout-header {
  -webkit-transition: all .5s ease,z-index .5s linear;
  -moz-transition: all .5s ease,z-index .5s linear;
  -ms-transition: all .5s ease,z-index .5s linear;
  -o-transition: all .5s ease,z-index .5s linear;
  transition: all .5s ease,z-index .5s linear;
}

.is-hidden  {
  display: none;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
