<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">about this project</h3>
</div>

<div class="bbm-modal__section">
  Ecómetro is a tool for measuring and cross-reading of ecology in the process of design, construction and use of buildings, which quantifies the impacts on Earth and on ecosystems and human health. We apply the concept map approach to adapt the project to local conditions and location of nearest resources.
</div>

<div class="bbm-modal__bottombar">
  <a href="#" class="bbm-button">Close</a>
</div>